@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;

    * {
        margin: 0;
    font-family: 'Montserrat','Courier New', Courier, monospace;

    }
}
*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#app,
.container {
    height: 100%;
}